* {
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    /*color: #706F6F;*/
}

body {
    margin: 0px;
}

header {
    background-color: #67A3C7;
    padding: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2, h3 {
    font-weight: bold;
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

.container, .content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #99C6E1;
    padding: 25px;
}



